body {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #000;
}

.sibling {
    fill: none;
    stroke: black;
}

.border {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #aaa;
}

.node {
    stroke: black;
    fill: white;
}